

body{
    font: "OpenDyslexic", sans-serif;
    overflow: auto;
}
*{
    box-sizing: border-box;
}
a{
    color: black;
}
a:hover{
    color: white;
}
img{
    position: relative; 
    left: 810px; 
    top: -1100px;
    width: 48%; 
}
#Title{
    color: white;
    position: relative;
    width: 104%;
    height: 400px;
    left: -2%;
    top: -10px;
    background-color: black;
    display: grid;
    place-items: center;
    border: #ac1c1c;
    border-style: solid;
    border-width: 4px;
}

#header{
    position: fixed;
    padding: 2.5em;
    width: 80%;
    height: 100px;
    left: -2%;
    top: -5px;
    background-color: #ac1c1c;
    text-align: left;
}
#para1{
    font-size: 18px;
    position: absolute;
    width: 40%;
    left: 30%;
    top: 500px;
    text-align: center;
}
#para2{
    font-size: 18px;
    position: absolute;
    width: 55%;
    left: 10%;
    top: 800px;
    text-align: left;
}